 <div class="flex border-b mb-3 ">
                  <div
                    class="rounded-full mr-3 h-[40px] w-[40px] border"
                    style="background-image: url('{{ commentaire.user.photo }}'); 
                  background-size: cover; background-position: center;"
                  >

                  </div>
                  <div class=" w-2/3">
                    <a href="">{{ commentaire.user.fullName }}</a>
                    <span class="text-gray-400">{{ commentaire.createdAt.toFormat('dd/MM/yyyy HH:mm') }}</span>
                    <p class="w-full ">
                      {{ commentaire.contenu }}
                    </p>
                    <div class="flex justify-between mb-3 mt-4 text-gray-400 text-sm">
                      <form action="{{ route('like.commentaire') }}" method="post">
                        {{ csrfField() }}
            <input type="text" name="user_id" value="{{ auth.user.id }}" class="hidden" />
                        <input type="text" name="commentaire_id" value="{{ commentaire.id }}" class="hidden" />

                        @if(commentaire.LikeCommentaires.some(like => like.userId === auth.user.id))

                          <button type="submit">                            <span>{{ commentaire.LikeCommentaires.length }}
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                fill="currentColor"
                                class="w-6 h-6 text-red-500"
                              >
                                <path
                                  fill-rule="evenodd"
                                  d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 
                 2 6 4 4 6.5 4 8.04 4 9.54 4.81 10.35 6.09 
                 11.16 4.81 12.66 4 14.2 4 
                 16.7 4 18.7 6 18.7 8.5 
                 c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
                                  clip-rule="evenodd"
                                />
                              </svg></span></button>

                        @else
                          <button type="submit">{{ commentaire.LikeCommentaires.length }} 

                         <span>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 h-6"
                              >
                                <path
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M21 8.25c0-2.485-2.1-4.5-4.688-4.5A4.685 4.685 0 0012 6.75a4.685 4.685 0 00-4.312-3c-2.587 0-4.688 2.015-4.688 4.5 
                 0 7.125 9 11.25 9 11.25s9-4.125 9-11.25z"
                                />
                              </svg></span>
                          </button>

                        @end
                      </form>

                    </div>
                  </div>
                  @if(commentaire.user.id == auth.user.id)
                    <div>
                      <a href="{{ route('commentaire.delete', { id: commentaire.id }) }}">
                        <span class="text-red-400 ">Supprimer</span>
                      </a>
                      <a href="">
                        <span data-id="{{ tweet.id }}" class="text-blue-400 edit">Éditer</span></a>

                    </div>
                  @end
                    
                </div>