<input
  type="{{type}}"
  name="{{name}}"
  id="inp"
  placeholder="{{title}}"
  class="w-full bg-transparent border border-gray-600 rounded-md px-4 py-3 text-white placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500"
/>