@layout.authLayout({title:"login"})

@slot('content')

        <form
          method="post"
          action="{{ route('auth.toLogin') }}"
          id="auth_connect"
          class="bg-[#16181c] rounded-xl w-full max-w-md p-6 shadow-lg shadow-gray-900/50"
        >
          {{ csrfField() }}

          <!-- Logo -->
          <div class="flex justify-center mb-4">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/2/22/X_logo_2023.svg"
              alt="Logo X"
              class="h-6"
            />
          </div>

          <h2 class="text-2xl font-bold text-center mb-6">Connectez-vous à X</h2>

          <!-- Séparateur -->
          <div class="flex items-center my-4">
            <div class="flex-grow h-px bg-gray-600"></div>
            <span class="px-2 text-gray-400 text-sm">ou</span>
            <div class="flex-grow h-px bg-gray-600"></div>
          </div>

          <!-- Champ mot de passe -->
          @!component('components/input', {
            type: 'password',
            name: 'password',
            title: 'Entrer le mot de passe'
          })
          <input
    type="email"
    name="email"
    value="{{ email  }} "
    id="t"
    placeholder=""
    class="w-full hidden bg-transparent border border-gray-600 rounded-md px-4 py-3 text-white placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500"


  />
          

          <!-- Bouton Connexion -->
          <button
            type="submit"
            class="w-full bg-white text-black py-3 rounded-full font-semibold hover:bg-gray-200 transition mb-3"
          >
            Connexion
          </button>

          <!-- Lien d'inscription -->
          <p class="text-sm text-center text-gray-400">
            Vous n’avez pas de compte ?
            <a href="{{ route('register') }}" class="text-blue-500 hover:underline">
              Inscrivez-vous
            </a>
          </p>
        </form>
     @endslot
@end
