@layout.authLayout({title:"register"})

@slot('content')
       
          <form class="space-y-4" id="signup-form" method="post" action="{{ route('store') }}">
            {{ csrfField() }}

            @!component('components/input', {
              type: 'text',
              name: 'fullName',
              title: 'Nom et prénom'
            })

            @!component('components/input', {
              type: 'email',
              name: 'email',
              title: 'Entrer votre email'
            })

            @!component('components/input', {
              type: 'password',
              name: 'password',
              title: 'Entrer le mot de passe'
            })

            @!component('components/input', {
              type: 'password',
              name: 'confirme',
              title: 'Confirmer le mot de passe'
            })

            <button
              type="submit"
              class="w-full bg-white text-black font-semibold py-3 rounded-full hover:bg-gray-200 transition"
            >
              Création de compte
            </button>
          </form>
      
@endslot
@end