@layout.base({ title: "Time_line" })
  @slot('content')
    <main>
      <div class=" w-full  flex justify-around border-b">
        <div
          class="py-4  inline-flex border-b-4 border-blue-500   flex justify-center items-center  text-center">
          Pour toi
        </div>
        <div class="py-4  inline-flex  flex justify-center items-center text-center">
          suivant
        </div>
      </div>
      <form
        method="post"
        action="{{ route('tweet.store') }}"
        id="createTweet-form"
        enctype="multipart/form-data"
        class=" border-b create flex gap-4 p-4  border-gray-700 text-white"
      >
        <a href="{{ route('user.profile', {id: auth.user.id}) }}">
          <div
            id="photoInitiateur"
            style="background-image: url('{{ auth.user.photo }}'); background-size: cover; background-position: center;"
            class="photo w-12 h-12 rounded-full bg-gray-500"
          >
          </div>
        </a>

        {{ csrfField() }}
        <div class="block flex-1 flex flex-col gap-3">
          <textarea
            name="contenu"
            id="contenu"
            class="w-full  bg-transparent text-left resize-none text-lg text-white placeholder-gray-400 focus:outline-none "
            rows="2"
            placeholder="Exprimez-vous..."
          ></textarea>
          <div class="flex justify-between items-center">
            <div class="actions flex gap-4 text-blue-400">
              <div class="icon flex items-center gap-1 cursor-pointer hover:text-red-500 transition">
                <input name="photos" type="file" />
              </div>
            </div>
            <button
              type="button submit"
              class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-1.5 rounded-full font-semibold transition"
            >
              Publier
        </button>
          </div>
        </div>
      </form>

      <div id="tweets" class="h-96 overflow-y-auto flex flex-col">

        @each(tweet in tweets)
      
          @!component('components/tweetComponent', {tweet})
          
        @end
          
      </div>

    </main>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".comment-btn").forEach(btn => {
          btn.addEventListener("click", e => {
            const id = e.target.dataset.id;
            const commentBox = document.getElementById(`comment-box-${id}`);
            if (commentBox.classList.contains("hidden")) {
              commentBox.classList.remove("hidden");
            } else {
              commentBox.classList.add("hidden");
            }
          });
        });
      });
    </script>

  @endslot
@end
