<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
 @if(flashMessages.get('errors'))
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      Swal.fire({
        icon: 'error',
        title: 'Erreur',
        text: '{{ flashMessages.get("errors") }}',
        confirmButtonText: 'OK',
        timer: 5000,
        timerProgressBar: true,
      })
    })
  </script>


@endif

@if(flashMessages.get('errorType') === 'unverified')
  <p class="text-yellow-600 text-center mt-2 font-medium">
    Compte non vérifié. Veuillez vérifier votre e-mail avant de continuer <a href="{{route('ressend_code.code')}}" class="text-blue-500 hover:underline" >en cliquant ici</a>.
  </p>
@endif

@if(flashMessages.get('success'))
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      Swal.fire({
        icon: 'success',
        title: 'Succès',
        text: '{{ flashMessages.get("success") }}',
        confirmButtonText: 'OK',
        timer: 5000,
        timerProgressBar: true,
      })
    })
  </script>
@endif


    
    <main>
      <section class="min-h-screen bg-black text-white flex items-center justify-center px-4">
        <div class="bg-[#16181c] rounded-xl w-full max-w-md p-6">
          <div class="flex justify-center mb-4">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/2/22/X_logo_2023.svg"
              alt="Logo X"
              class="h-6"
            />
          </div>

          <h2 class="text-2xl font-bold mb-6">{{title}}</h2>
          {{{ await $slots.content() }}}
       
          
        </div>
      </section>
    </main>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
