@layout.base({ title: `#${hashtag.name}` })
  @slot('content')
    <main>
      <h1 class="text-2xl font-bold mb-4 text-white">#{{ hashtag.name }}</h1>

      <div id="tweets" class="flex flex-col gap-4">
        @each(tweet in hashtag.tweets)
          <div class="border-b flex p-4 border-gray-700">
            <a href="{{ route('user.profile', { id: tweet.user.id }) }}">
              <div
                class="w-12 h-12 rounded-full bg-gray-500 mr-3"
                style="background-image: url('{{ tweet.user.photo }}'); background-size: cover; background-position: center;"
              ></div>
            </a>

            <div class="flex-1 flex flex-col">
              <div class="flex justify-between items-center">
                <div>
                  <span class="font-bold text-white">{{ tweet.user.fullName }}</span>
                  <span class="text-gray-400">{{ tweet.createdAt.toFormat('dd/MM/yyyy HH:mm') }}</span>
                </div>
              </div>

              <p class="mt-1 text-white w-full break-words">
                {{ tweet.contenu }}
              </p>

              @if(tweet.photo)
                <div class="mt-2 rounded-xl overflow-hidden">
                  <img src='{{ tweet.photo }}' alt="media" class="w-full object-cover" />
                </div>
              @end

              <div class="mt-2 flex gap-2 text-blue-400">
                @each(tag in tweet.hashtags)
                  <a href="{{ route('hashtag.show', { name: tag.name }) }}" class="hover:underline text-blue-400">#{{ tag.name }}</a>
                @end
              </div>

            
            </div>
          </div>
        @end
      </div>
    </main>
    
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".comment-btn").forEach(btn => {
          btn.addEventListener("click", e => {
            const id = e.target.dataset.id;
            const commentBox = document.getElementById(`comment-box-${id}`);
            if (commentBox.classList.contains("hidden")) {
              commentBox.classList.remove("hidden");
            } else {
              commentBox.classList.add("hidden");
            }
          });
        });
      });
    </script>
  @endslot
@end
